SECRET_KEY='django-insecure-5a*kl%9l+xqmjz0h0%)qkbawgaun9+=4&#aa)ct&uph(kh%+wa'
DEBUG=True
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
ALLOWED_HOSTS=localhost
DATABASE_URL=postgres://appuser:stilts15@127.0.0.1:5432/appdb